* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li,h1,h2,p{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1164px;
    margin: 0 auto;
}
.containerFull {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}
body{
    margin: auto;
    padding: 0;
    font: 16px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 320px;
    color: #212121;
}

//var
$bgColor1 : #22F9E3;
$txtColor1 : #22F9E3;
$bgColor2 : #0E2B5C;
$txtColor2 : #0E2B5C;
$btn : #0E2B5C;

//mixin
@mixin btn {
    background-color: $txtColor1;
    color: $btn;
    padding: 16px 36px;
    font-size: 19px;
    font-weight: 700;
    line-height: 1em;
    transition: .3s;
    border: 2px solid transparent;
    &:hover {
        border: 2px solid $bgColor2;
        color: $btn;
    }
}

